* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #3f3f3f;
    color: #333;
    padding: 20px;
}

header {
    background-color: #1e3429;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header .logo h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #81ca72;
}

.conteudo {
    max-width: 900px;
    margin: 30px auto;
}

.post {
    background-color: rgb(98, 99, 98);
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.titulo-post {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.data-post {
    font-size: 14px;
    color: #aaa7a7;
    margin-bottom: 20px;
}

.imagem-post {
    text-align: center;
    margin-bottom: 20px;
}

.imagem-post img {
    width: 100%;
    max-width: 600px;
    border-radius: 8px;
}

.resumo-post {
    font-size: 16px;
    color: #fffdfd;
    margin-bottom: 20px;
}


.btn-leia-mais {
    background-color: #227c34;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-leia-mais:hover {
    background-color: #76db60;
}

.post-completo {
    display: none;
    font-size: 16px;
    line-height: 1.8;
    color: #ffffff;
    margin-top: 20px;
}

.sobre {
    max-width: 900px;
    margin: 30px auto;
    background-color: #262626;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.sobre h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.contato {
    max-width: 900px;
    margin: 30px auto;
    background-color: #262626;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.contato h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.campo-form {
    margin-bottom: 15px;
}

.campo-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.campo-form input, .campo-form textarea {
    width: 100%;
    padding: 8px 10px;  
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.campo-form textarea {
    height: 120px;  
    resize: vertical;  
}

.btn-enviar {
    background-color: #227c34;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.btn-enviar:hover {
    background-color: #76db60;
}
